/* https://fonts.google.com/specimen/Rubik?preview.text_type=custom */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&family=Rufina:wght@700&display=swap');

@font-face {
    src: url('assets/fonts/Rufina-Bold.ttf');
    font-family: 'Rufina';
}

body {
    color: #6e7797;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1.857;
    background: #15625C; /* Quitar Luego */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000a2d;
    font-family: Rufina, serif;
    font-weight: 700;
}

a {
    transition-duration: .3s;
}


/* header */
header {
    background-color: rgba(39, 117, 111, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-right: 185px;
    padding-left: 185px;
    transition-duration: .3s;
    z-index: 3;
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1500px) {
    header {
        padding-right: 50px;
        padding-left: 50px;
    }
}